<style>
    @page {
        margin: 10px 25px;
    }

    .my-text {
        font-size: 10px;
    }

    .page_break { page-break-before: always; }

    /** 
    * Define the width, height, margins and position of the watermark.
    **/
    #watermark {
        position: fixed;
        bottom:   -450px;
        left:     270px;
        /** The width and height may change 
            according to the dimensions of your letterhead
        **/
        width:    21.8cm;
        height:   28cm;
        opacity: 0.1;

        /** Your watermark should be behind every content**/
        z-index:  -1000;
    }

    .header,
    .footer {
        width: 100%;
        text-align: center;
        position: fixed;
    }

    .footer {
        bottom: 1px;
        font-size: 10px;
        margin-top: 1px;
    }

    .cetakan {
        width: 100%;
        text-align: right;
        position: fixed;
    }

    .cetakan {
        bottom: 1px;
        font-size: 10px;
        margin-top: 4px;
    }

</style>